
.list-item {
  height: 200px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  .thumbnail {
    height: 140px;
    width: 250px;
    background: #000;
    margin: 5px;
    display: flex;
    .video-duration {
      color: #fff;
      text-shadow: 4px 4px 4px #000;
      font-size: 18px;
    }
  }

  .video-info {
    height: 140px;
    padding: 0 16px;
    color: rgba(255, 255, 255, 0.8);
    .title {
      font-size: 22px;
    }
  }
}

