.search-container {
  display: flex;
  align-items: center;
}
.search-control {
  height: 44px;
  display: flex;
  align-items: center;
  .search-string {
    font-weight: bold;
    font-size: 20px;
  }
}

